@import url(https://fonts.googleapis.com/css?family=Poppins:100,100italic,200,200italic,300,300italic,regular,italic,500,500italic,600,600italic,700,700italic,800,800italic,900,900italic);
@import url(https://fonts.googleapis.com/css?family=Inter:100,200,300,regular,500,600,700,800,900);

body {
  margin: 0;
}

* {
  box-sizing: border-box;
}

:root {
  --plum: #9f9aa4;
  --plum-dark: #848188;
  --powder: #e7cfcd;
  --mint: #cfd8d7;
  --lime: #b5c9c3;
  --lime-dark: #455755;
  --lipstick: #cab1bd;
  --lipstick-dark: #a88886;
}
